.contentCard {
    background: var(--mantine-color-dark-6);
    border: 1px solid var(--mantine-color-dark-4);
}

.betsTable {
    width: 100%;
}

.tableHeader {
    color: var(--mantine-color-gray-5);
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}

.tableRow {
    border-bottom: 1px solid var(--mantine-color-dark-4);
}

.tableRow:hover {
    background: var(--mantine-color-dark-5);
}

.eventName {
    color: var(--mantine-color-gray-2);
}

.amountText {
    color: var(--mantine-color-gray-3);
}

.oddsBadge {
    background: var(--mantine-color-blue-9);
    color: var(--mantine-color-blue-3);
}

.potentialWin {
    color: var(--mantine-color-yellow-4);
}

.dateText {
    color: var(--mantine-color-gray-5);
}

.emptyState {
    text-align: center;
    padding: 60px 20px;
}