.bettingStats {
    background: var(--mantine-color-dark-6);
    border: 1px solid var(--mantine-color-dark-4);
}

.sectionTitle {
    color: var(--mantine-color-gray-0);
}

.statNumber {
    color: var(--mantine-color-blue-4);
}

.wonBets {
    color: var(--mantine-color-green-4);
}

.lostBets {
    color: var(--mantine-color-red-4);
}

.winRate {
    color: var(--mantine-color-yellow-4);
}